{% layout 'page.faq' %}
      
  <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navigation w-nav">
    <div class="navigation-items"><a href="/" class="logo-link w-nav-brand"><img src="{{ 'janesiblue.png' | asset_url }}" width="220" alt="" class="logo-image"></a>
      <div class="navigation-wrap">
        <nav role="navigation" class="navigation-items w-nav-menu">{% for link in linklists['navigation-menu'].links %}<a href="{{ link.url }}" class="navigation-item w-nav-link">{{ link.title }}</a>{% endfor %}{% unless customer %}<a href="/account/login" class="login-item w-nav-link">{{ 'faq.A_0' | t }}</a>{% endunless %}{% if customer %}<a href="/account" class="login-item w-nav-link">{{ 'faq.A_1' | t }}</a>{% endif %}</nav>
        <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="modal" data-wf-cart-query="" data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper"><a href="#" data-node-type="commerce-cart-open-link" class="w-commerce-commercecartopenlink button cc-cart w-inline-block"><svg class="w-commerce-commercecartopenlinkicon" width="17px" height="17px" viewBox="0 0 17 17"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><path d="M2.60592789,2 L0,2 L0,0 L4.39407211,0 L4.84288393,4 L16,4 L16,9.93844589 L3.76940945,12.3694378 L2.60592789,2 Z M15.5,17 C14.6715729,17 14,16.3284271 14,15.5 C14,14.6715729 14.6715729,14 15.5,14 C16.3284271,14 17,14.6715729 17,15.5 C17,16.3284271 16.3284271,17 15.5,17 Z M5.5,17 C4.67157288,17 4,16.3284271 4,15.5 C4,14.6715729 4.67157288,14 5.5,14 C6.32842712,14 7,14.6715729 7,15.5 C7,16.3284271 6.32842712,17 5.5,17 Z" fill="currentColor" fill-rule="nonzero"></path></g></svg><div class="w-inline-block">{{ 'faq.DIV_2' | t }}</div><div class="w-commerce-commercecartopenlinkcount cart-quantity-2" udy-el="cart-count">{{ cart.item_count }}</div></a>
          <div data-node-type="commerce-cart-container-wrapper" style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-modal">
            <div data-node-type="commerce-cart-container" class="w-commerce-commercecartcontainer">
              <div class="w-commerce-commercecartheader">
                <h4 class="w-commerce-commercecartheading">{{ 'faq.H4_3' | t }}</h4><a href="#" data-node-type="commerce-cart-close-link" class="w-commerce-commercecartcloselink w-inline-block"><svg width="16px" height="16px" viewBox="0 0 16 16"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g fill-rule="nonzero" fill="#333333"><polygon points="6.23223305 8 0.616116524 13.6161165 2.38388348 15.3838835 8 9.76776695 13.6161165 15.3838835 15.3838835 13.6161165 9.76776695 8 15.3838835 2.38388348 13.6161165 0.616116524 8 6.23223305 2.38388348 0.616116524 0.616116524 2.38388348 6.23223305 8"></polygon></g></g></svg></a></div>
              <div class="w-commerce-commercecartformwrapper">
                <form data-node-type="commerce-cart-form" class="w-commerce-commercecartform {% if cart.item_count == 0 %}udesly-display-none{% endif %}">
                  <ul role="list" class="mini-cart-list" udy-el="items-list">
                    {% for item in cart.items %}<li class="mini-cart-list-item">
                      <div class="product-row">
                        <div class="mini-cart-left-block"><a href="/cart/change?line={{ forloop.index }}&amp;amp;quantity=0" class="remove-product-link w-inline-block" udy-el="remove-item"></a>
                          <div class="mini-cart-image" style="background-image: url({{ item | img_url: 'master' }})"></div>
                          <div class="product-info-wrapper-2 mini-cart-info-wrapper"><a href="{{ item.product.url }}">{{ item.product.title }}</a>
                            <div class="text-block-79" href="/collections/vendors?q={{ item.vendor }}">{{ item.vendor }}</div>
                          </div>
                        </div>
                        <div class="price-wrapper">
                          <div class="mini-cart-price-wrapper">
                            <div class="text-block-78">{{ item.quantity }}</div>
                            <div class="text-block-76">{{ 'faq.DIV_4' | t }}</div>
                            <div class="text-block-78">{{ item.price | money }}</div>
                          </div>
                        </div>
                      </div>
                    </li>{% endfor %}
                  </ul>
                  
                  
                  <div class="w-commerce-commercecartfooter {% if cart.item_count == 0 %}udesly-display-none{% endif %}" udy-el="cart-actions">
                    <div class="w-commerce-commercecartlineitem">
                      <div>{{ 'faq.DIV_5' | t }}</div>
                      <div class="w-commerce-commercecartordervalue" udy-el="cart-total">{{ cart.total_price | money }}</div>
                    </div>
                    <div class="checkout-actions"><a href="/cart" value="Cart" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton" data-loading-text="Hang Tight...">{{ 'faq.A_6' | t }}</a><a href="/checkout" value="Checkout" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton" data-loading-text="Hang Tight...">{{ 'faq.A_7' | t }}</a></div>
                  </div>
                </form>
                <div class="w-commerce-commercecartemptystate {% if cart.item_count != 0 %}udesly-display-none{% endif %}" udy-el="no-items-in-cart">
                  <div>{{ 'faq.DIV_8' | t }}</div>
                </div>
                <div style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate">
                  <div class="w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-cart_order_min-error="Cart failed.">{{ 'faq.DIV_9' | t }}</div>
                </div>
              </div>
            </div>
          </div>
        <script id="mini-cart-template">
          window.udeslyMiniCartTemplate = function(item) {
            return `<li class="mini-cart-list-item" data-item-id="${item.id}">
                      <div class="product-row">
                        <div class="mini-cart-left-block"><a href="${item.remove}" class="remove-product-link w-inline-block" udy-el="remove-item"></a>
                          <div dimension="master" class="mini-cart-image" style="background-image: url(${item.image})"></div>
                          <div class="product-info-wrapper-2 mini-cart-info-wrapper"><a href="#">${item.title}</a>
                            <div class="text-block-79">${item.vendor}</div>
                          </div>
                        </div>
                        <div class="price-wrapper">
                          <div class="mini-cart-price-wrapper">
                            <div class="text-block-78">${item.quantity}</div>
                            <div class="text-block-76"> x</div>
                            <div class="text-block-78">${item.price}</div>
                          </div>
                        </div>
                      </div>
                    </li>`
          }
          </script></div>
        <div class="menu-button w-nav-button"><img src="{{ 'menu-icon_1menu-icon.png' | asset_url }}" width="22" alt="" class="menu-icon"></div>
      </div>
    </div>
  </div>
  <div class="faqs">
    <div>
      <div class="about-header">
        <div>
          <h1 class="heading-18">{{ 'faq.H1_10' | t }}</h1>
        </div>
      </div>
    </div>
    <div>
      <div>
        <h1 class="heading-15"><br>{{ 'faq.H1_11' | t }}</h1>
        <p class="subheadline-paragraph">{{ 'faq.P_12' | t }}<a href="mailto:info@janesicomfort.com"><strong>{{ 'faq.STRONG_13' | t }}</strong></a>{{ 'faq.P_14' | t }}<br></p>
      </div>
    </div>
    <div class="div-block-32">
      <div class="faq-section">
        <h5 class="_00head-outline"><strong class="_00headingfaq">{{ 'faq.STRONG_15' | t }}</strong></h5>
        <div class="faqwrapper">
          <div data-w-id="ac1be878-c33d-bd6a-ce4d-0360555c28ad" class="faq-question"><strong class="faq-click">{{ 'faq.STRONG_16' | t }}</strong></div>
          <div style="height:0PX" class="div-block-18">
            <div class="paragraph-outer">
              <p class="answer-paragraph">{{ 'faq.P_17' | t }}<br><br></p>
            </div>
            <div class="paragraph-outer">
              <p class="answer-paragraph">{{ 'faq.P_18' | t }}<br></p>
            </div>
          </div>
        </div>
        <div class="faqwrapper">
          <div data-w-id="ac1be878-c33d-bd6a-ce4d-0360555c28bb" class="faq-question"><strong class="faq-click">{{ 'faq.STRONG_19' | t }}</strong></div>
          <div style="height:0PX" class="div-block-18">
            <div class="paragraph-outer">
              <p class="answer-paragraph">{{ 'faq.P_20' | t }}<br> <br></p>
            </div>
            <div class="paragraph-outer">
              <p class="answer-paragraph">{{ 'faq.P_21' | t }}<br></p>
            </div>
          </div>
        </div>
        <div class="faqwrapper">
          <div data-w-id="ac1be878-c33d-bd6a-ce4d-0360555c28ca" class="faq-question"><strong class="faq-click">{{ 'faq.STRONG_22' | t }}</strong></div>
          <div style="height:0PX" class="div-block-18">
            <div class="paragraph-outer">
              <p class="answer-paragraph">{{ 'faq.P_23' | t }}<br></p>
            </div>
            <div class="paragraph-outer">
              <p class="answer-paragraph">{{ 'faq.P_24' | t }}<br></p>
            </div>
          </div>
        </div>
      </div>
      <div class="faq-section">
        <h5 class="_00head-outline"><strong class="_00headingfaq">{{ 'faq.STRONG_25' | t }}</strong></h5>
        <div class="faqwrapper">
          <div data-w-id="ac1be878-c33d-bd6a-ce4d-0360555c28db" class="faq-question"><strong class="faq-click">{{ 'faq.STRONG_26' | t }}</strong></div>
          <div style="height:0PX" class="div-block-18">
            <div class="paragraph-outer">
              <p class="answer-paragraph">{{ 'faq.P_27' | t }}<br></p>
            </div>
            <div class="paragraph-outer">
              <p class="answer-paragraph"> <br></p>
            </div>
          </div>
        </div>
      </div>
      <div class="faq-section">
        <h5 class="_00head-outline"><strong class="_00headingfaq">{{ 'faq.STRONG_28' | t }}</strong></h5>
        <div class="faqwrapper">
          <div data-w-id="ac1be878-c33d-bd6a-ce4d-0360555c28ec" class="faq-question"><strong class="faq-click">{{ 'faq.STRONG_29' | t }}</strong></div>
          <div style="height:0PX" class="div-block-18">
            <div class="paragraph-outer">
              <p class="answer-paragraph">{{ 'faq.P_30' | t }}<a href="mailto:info@janesicomfort.com"><strong>{{ 'faq.STRONG_31' | t }}</strong></a>{{ 'faq.P_32' | t }}<br></p>
            </div>
            <div class="paragraph-outer"></div>
          </div>
        </div>
        <div class="faqwrapper">
          <div data-w-id="ac1be878-c33d-bd6a-ce4d-0360555c28fa" class="faq-question"><strong class="faq-click">{{ 'faq.STRONG_33' | t }}</strong></div>
          <div style="height:0PX" class="div-block-18">
            <div class="paragraph-outer">
              <p class="answer-paragraph">{{ 'faq.P_34' | t }}<a href="mailto:info@janesicomfort.com"><strong>{{ 'faq.STRONG_35' | t }}</strong></a>{{ 'faq.P_36' | t }}<br></p>
            </div>
            <div class="paragraph-outer">
              <p class="answer-paragraph"> <br></p>
            </div>
          </div>
        </div>
      </div>
      <div class="faq-section">
        <h5 class="_00head-outline"><strong class="_00headingfaq">{{ 'faq.STRONG_37' | t }}</strong></h5>
        <div class="faqwrapper">
          <div data-w-id="ac1be878-c33d-bd6a-ce4d-0360555c290f" class="faq-question"><strong class="faq-click">{{ 'faq.STRONG_38' | t }}</strong></div>
          <div style="height:0PX" class="div-block-18">
            <div class="paragraph-outer">
              <p class="answer-paragraph">{{ 'faq.P_39' | t }}<br></p>
            </div>
            <div class="paragraph-outer">
              <p class="answer-paragraph">{{ 'faq.P_40' | t }}<br></p>
            </div>
          </div>
        </div>
        <div class="faqwrapper">
          <div data-w-id="ac1be878-c33d-bd6a-ce4d-0360555c291c" class="faq-question"><strong class="faq-click">{{ 'faq.STRONG_41' | t }}</strong></div>
          <div style="height:0PX" class="div-block-18">
            <div class="paragraph-outer">
              <p class="answer-paragraph">{{ 'faq.P_42' | t }}<br></p>
            </div>
            <div class="paragraph-outer">
              <p class="answer-paragraph"> <br></p>
            </div>
          </div>
        </div>
        <div class="faqwrapper">
          <div data-w-id="ac1be878-c33d-bd6a-ce4d-0360555c2929" class="faq-question"><strong class="faq-click">{{ 'faq.STRONG_43' | t }}</strong></div>
          <div style="height:0PX" class="div-block-18">
            <div class="paragraph-outer">
              <p class="answer-paragraph">{{ 'faq.P_44' | t }}<br></p>
            </div>
            <div class="paragraph-outer">
              <p class="answer-paragraph">{{ 'faq.P_45' | t }}<br></p>
            </div>
          </div>
        </div>
        <div class="faqwrapper">
          <div data-w-id="ac1be878-c33d-bd6a-ce4d-0360555c2936" class="faq-question"><strong class="faq-click">{{ 'faq.STRONG_46' | t }}</strong></div>
          <div style="height:0PX" class="div-block-18">
            <div class="paragraph-outer">
              <p class="answer-paragraph">{{ 'faq.P_47' | t }}<a href="mailto:info@janesicomfort.com"><strong>{{ 'faq.STRONG_48' | t }}</strong></a>{{ 'faq.P_49' | t }}<br></p>
            </div>
            <div class="paragraph-outer">
              <p class="answer-paragraph"> <br></p>
            </div>
          </div>
        </div>
      </div>
      <div class="faq-section">
        <h5 class="_00head-outline"><strong class="_00headingfaq">{{ 'faq.STRONG_50' | t }}</strong></h5>
        <div class="faqwrapper">
          <div data-w-id="ac1be878-c33d-bd6a-ce4d-0360555c294b" class="faq-question"><strong class="faq-click">{{ 'faq.STRONG_51' | t }}</strong></div>
          <div style="height:0PX" class="div-block-18">
            <div class="paragraph-outer">
              <p class="answer-paragraph">{{ 'faq.P_52' | t }}<br></p>
            </div>
            <div class="paragraph-outer">
              <p class="answer-paragraph"> <br></p>
            </div>
          </div>
        </div>
        <div class="faqwrapper">
          <div data-w-id="ac1be878-c33d-bd6a-ce4d-0360555c2958" class="faq-question"><strong class="faq-click">{{ 'faq.STRONG_53' | t }}</strong></div>
          <div style="height:0PX" class="div-block-18">
            <div class="paragraph-outer">
              <p class="answer-paragraph">{{ 'faq.P_54' | t }}<br>{{ 'faq.P_55' | t }}<br>{{ 'faq.P_56' | t }}<br></p>
            </div>
            <div class="paragraph-outer">
              <p class="answer-paragraph">{{ 'faq.P_57' | t }}<br></p>
            </div>
          </div>
        </div>
      </div>
      <div class="faq-section">
        <h5 class="_00head-outline"><strong class="_00headingfaq">{{ 'faq.STRONG_58' | t }}</strong></h5>
        <div class="faqwrapper">
          <div data-w-id="ac1be878-c33d-bd6a-ce4d-0360555c296d" class="faq-question"><strong class="faq-click">{{ 'faq.STRONG_59' | t }}</strong></div>
          <div style="height:0PX" class="div-block-18">
            <div class="paragraph-outer">
              <p class="answer-paragraph">{{ 'faq.P_60' | t }}<a href="https://www.tencel.com/">{{ 'faq.A_61' | t }}</a>{{ 'faq.P_62' | t }}<a href="https://www.tencel.com/" target="_blank"></a><br></p>
            </div>
            <div class="paragraph-outer">
              <p class="answer-paragraph">{{ 'faq.P_63' | t }}<a href="https://www.tencel.com/" target="_blank"><strong>{{ 'faq.STRONG_64' | t }}</strong>{{ 'faq.A_65' | t }}</a><br></p>
            </div>
          </div>
        </div>
        <div class="faqwrapper">
          <div data-w-id="ac1be878-c33d-bd6a-ce4d-0360555c2984" class="faq-question"><strong class="faq-click">{{ 'faq.STRONG_66' | t }}</strong></div>
          <div style="height:0PX" class="div-block-18">
            <div class="paragraph-outer">
              <p class="answer-paragraph">{{ 'faq.P_67' | t }}<br></p>
            </div>
            <div class="paragraph-outer">
              <p class="answer-paragraph"> <br></p>
            </div>
          </div>
        </div>
      </div>
      <div class="faq-section">
        <h5 class="_00head-outline"><strong class="_00headingfaq">{{ 'faq.STRONG_68' | t }}</strong></h5>
        <div class="faqwrapper">
          <div data-w-id="ac1be878-c33d-bd6a-ce4d-0360555c2995" class="faq-question"><strong class="faq-click">{{ 'faq.STRONG_69' | t }}</strong></div>
          <div style="height:0PX" class="div-block-18">
            <div class="paragraph-outer">
              <p class="answer-paragraph">{{ 'faq.P_70' | t }}<strong>{{ 'faq.STRONG_71' | t }}</strong>{{ 'faq.P_72' | t }}<br></p>
            </div>
            <div class="paragraph-outer"></div>
          </div>
        </div>
        <div class="faqwrapper">
          <div data-w-id="ac1be878-c33d-bd6a-ce4d-0360555c29a2" class="faq-question"><strong class="faq-click">{{ 'faq.STRONG_73' | t }}</strong></div>
          <div style="height:0PX" class="div-block-18">
            <div class="paragraph-outer">
              <p class="answer-paragraph">{{ 'faq.P_74' | t }}<br></p>
            </div>
            <div class="paragraph-outer">
              <p class="answer-paragraph">{{ 'faq.P_75' | t }}<a href="#"><strong>{{ 'faq.STRONG_76' | t }}</strong>{{ 'faq.A_77' | t }}</a><br></p>
            </div>
          </div>
        </div>
      </div>
      <div class="faq-section">
        <h5 class="_00head-outline"><strong class="_00headingfaq">{{ 'faq.STRONG_78' | t }}</strong></h5>
        <div class="faqwrapper">
          <div data-w-id="ac1be878-c33d-bd6a-ce4d-0360555c29b7" class="faq-question"><strong class="faq-click">{{ 'faq.STRONG_79' | t }}</strong></div>
          <div style="height:0PX" class="div-block-18">
            <div class="paragraph-outer">
              <p class="answer-paragraph">{{ 'faq.P_80' | t }}<a href="mailto:info@janesicomfort.com"><strong>{{ 'faq.STRONG_81' | t }}</strong></a>{{ 'faq.P_82' | t }}<br></p>
            </div>
            <div class="paragraph-outer">
              <p class="answer-paragraph">{{ 'faq.P_83' | t }}<br></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper m50-100">
    <div class="section-6">
      <div class="w-layout-grid cta8-grid-2">
        <div id="w-node-4015c711b2fe-87669781" class="cta8-content-wrap">
          <div class="cta8-headline-wrap">
            <div class="size3-text">{{ 'faq.DIV_84' | t }}<br></div>
            <p class="paragraph-76">{{ 'faq.P_85' | t }}<br></p>
          </div>
        </div>
        <div id="w-node-4015c711b306-87669781" class="cta8-form w-form">
          <form id="email" name="email-form" data-name="Email Form" method="post" action="https://janesicomfort.us4.list-manage.com/subscribe/post?u=01d2c0bfc177659da127d1b56&amp;amp;id=46e1175186" class="cta8-form-wrap w-node-4015c711b307-87669781"><input type="text" class="text-field-3 w-node-4015c711b308-87669781 w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="Enter your name" id="name-3" required=""><input type="tel" class="text-field-3 w-node-4015c711b309-87669781 w-input" maxlength="256" name="phone-3" data-name="Phone 3" placeholder="Enter your number" id="phone-3"><input type="email" class="text-field-3 w-node-4015c711b30a-87669781 w-input" maxlength="256" name="email-3" data-name="Email 3" placeholder="Enter your email" id="email-3" required=""><input type="submit" value="Submit" data-wait="Please wait..." id="w-node-4015c711b30b-87669781" class="button-small-2 form-centered-button w-button"></form>
          <div class="success-message w-form-done">
            <div>{{ 'faq.DIV_86' | t }}</div>
          </div>
          <div class="error-message w-form-fail">
            <div>{{ 'faq.DIV_87' | t }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="section">
      <div class="container"></div>
    </div>
    <div class="container"></div>
    <div class="wrapper-3">
      <div class="section-7">
        <div class="w-layout-grid footer1-grid-2">
          <div id="w-node-5860412d4b66-87e29718" class="footer1-links-wrap">
            <div class="size6-text">{{ 'faq.DIV_88' | t }}</div><a href="https://www.janesicomfort.com/shop/janesi-comfort-gown-black" class="footer1-link-2">{{ 'faq.A_89' | t }}</a><a href="https://www.janesicomfort.com/blankets/blankets" class="footer1-link-2">{{ 'faq.A_90' | t }}</a></div>
          <div id="w-node-5860412d4b6d-87e29718" class="footer1-links-wrap">
            <div class="size6-text">{{ 'faq.DIV_91' | t }}</div><a href="https://www.janesicomfort.com/about" class="footer1-link-2">{{ 'faq.A_92' | t }}</a><a href="https://www.janesicomfort.com/contact-us" class="footer1-link-2">{{ 'faq.A_93' | t }}</a></div>
          <div id="w-node-5860412d4b74-87e29718" class="footer1-links-wrap">
            <div class="size6-text">{{ 'faq.DIV_94' | t }}</div><a href="https://www.instagram.com/janesi.comfort/" target="_blank" class="footer1-link-2">{{ 'faq.A_95' | t }}</a></div>
          <div id="w-node-5860412d4b79-87e29718" class="footer1-links-wrap">
            <div class="size6-text">{{ 'faq.DIV_96' | t }}</div><a href="https://www.janesicomfort.com/terms" class="footer1-link-2">{{ 'faq.A_97' | t }}</a><a href="https://www.janesicomfort.com/privacy-policy" class="footer1-link-2">{{ 'faq.A_98' | t }}</a><a href="https://www.janesicomfort.com/contact-us" class="footer1-link-2">{{ 'faq.A_99' | t }}</a></div>
          <div id="w-node-5860412d4b82-87e29718" class="footer1-links-wrap">
            <div class="size6-text">{{ 'faq.DIV_100' | t }}</div><a href="mailto:info@janesicomfort.com" class="footer1-link-2">{{ 'faq.A_101' | t }}</a><a href="tel:917920-4642" class="footer1-link-2">{{ 'faq.A_102' | t }}</a></div>
        </div>
      </div>
      <div class="section-8">
        <div class="w-layout-grid footer1-bottom-grid-2">
          <div id="w-node-5860412d4b8b-87e29718"><a href="http://pablodesigns.com/" target="_blank" class="footer1-bottom-link"> </a></div>
          <div id="w-node-5860412d4b8e-87e29718"><a href="https://webflow.com" class="footer1-bottom-link">{{ 'faq.A_103' | t }}</a></div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5ee8babd86c636bd4b669763" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{% include 'notifications' %}{{ 'udesly-shopify.min.js' | asset_url | script_tag }}{{ 'option_selection.js' | shopify_asset_url | script_tag }}